*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.productslist{
    height: 400px;
    width: 200px;
    margin: 20px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;
    border: 2px solid  black;
}
.productslist img{
    height: 240px;
    width: 190px;
    position: relative;
    z-index: -1;
    bottom: 10px;
    left: 4px;
    border-radius: 20px;
    
}